---
import Site from '../layouts/Site.astro'
---

<Site>
  <section class="container">
    <h1>About</h1>
    <section class="content">
      <p>The FPL blog of <a href="https://twitter.com/xlivelyFPL" target="_blank">@xLivelyFPL</a></p>
      <img src="public/assets/previous.png" width="50%" />
      <p>A 10+ year veteran of the game hoping looking to document his thoughts over the course of the season.
        Hopefully you find something entertaining or informative along the way!</p>
    </section>

  </section>
</Site>

<style>
  .container {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%
  }

  .content :global(* + *) {
    margin-top: 16px;
  }
</style>
