---
import Site from '../layouts/Site.astro'
import BlogGrid from '../components/BlogGrid.astro'
let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
---

<Site>
	<h2>The irrelevant musings of an FPL addict...</h2>
	<BlogGrid posts={allPosts} />
</Site>

<style>
	h2 {
		text-align: center;
		margin-top: 32px;
	}
</style>
