---
import PostPreview from "./PostPreview.astro"
const { posts } = Astro.props
---

<div class="container">
  {posts && posts.map((post) =>
  <PostPreview {post} />)}
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    background-color: #ededed;
    margin: 0 auto;
    padding: 0 100px;
    width: 70%;
    height: 100vh;
    flex-wrap: wrap;
  }
</style>
