---
import PostPreview from "./PostPreview.astro"
const { posts } = Astro.props
---

<div class="container">
  {posts && posts.map((post) =>
  <PostPreview {post} />)}
</div>

<style>
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 32px auto;
    width: 70%;
  }

  @media only screen and (max-width: 768px) {
    .container {
      width: 100%;
      padding: 0;
      justify-content: center;
    }
  }
</style>
