<div class="container">
  <h1>xLivelyFPL</h1>
</div>

<style>
  .container {
    background-color: #053f9c;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    padding: 1rem;
    z-index: 10;
    margin-top: 0;
    border-bottom: solid 1px black;
  }
</style>
