---
import Header from '../components/Header.astro'

const { content } = Astro.props;
const { title } = content;
---

<html lang={content.lang || 'en' }>

<head>
  <link rel="stylesheet" href="/src/global.scss" type="text/css" />
</head>

<body>
  <Header />
  <div class="wrapper">
    <h1>{title}</h1>
    <slot />
  </div>
</body>

</html>
