---
import Header from '../components/Header.astro'
import BlogPost from '../components/BlogPost.astro';

const { content } = Astro.props;
const { title } = content;
---

<html lang={content.lang || 'en' }>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/global.scss" type="text/css" />
</head>

<body>
  <Header />
  <BlogPost {content}>
    <slot />
  </BlogPost>
</body>

</html>
