---
import Header from '../components/Header.astro'
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/src/global.scss" type="text/css" />
  <title>xLively FPL</title>
</head>

<body>
  <Header />
  <slot />
</body>

</html>
